@font-face {
  font-family: "Proxima";
  src: url("/fonts/proximanova_regular.ttf");
}
@font-face {
  font-family: "AlegreyaSansSC";
  src: url("/fonts/AlegreyaSansSC-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("/fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSans-Semi-Bold";
  src: url("/fonts/ofont.ru_Open-Semi-Bold.ttf");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("/fonts/OpenSans-Regular.ttf");
}
