.connection {
  margin-bottom: 48px;
}
.connection > div {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

@media screen and (max-width: 845px) {
  .connection > div {
    flex-direction: column;
    gap: 40px;
  }
}
